* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c591.86C127.298%2c616.565%2c268.079%2c656.567%2c381.137%2c593.061C495.009%2c529.098%2c533.497%2c387.007%2c581.17%2c265.412C626.562%2c149.636%2c676.05%2c28.163%2c650.313%2c-93.501C625.185%2c-212.285%2c539.842%2c-310.323%2c443.695%2c-384.464C358.12%2c-450.453%2c247.375%2c-459.291%2c142.446%2c-485.127C42.548%2c-509.724%2c-53.546%2c-537.991%2c-156.264%2c-532.187C-282.06%2c-525.079%2c-420.18%2c-528.654%2c-516.874%2c-447.874C-617.481%2c-363.824%2c-664.424%2c-227.82%2c-676.811%2c-97.311C-688.893%2c29.975%2c-656.652%2c161.326%2c-584.731%2c267.038C-518.204%2c364.823%2c-399.996%2c404.096%2c-296.607%2c461.529C-200.251%2c515.055%2c-108.206%2c570.86%2c0%2c591.86' fill='%23123952'%3e%3c/path%3e%3cpath d='M1440 1048.3029999999999C1530.338 1040.9560000000001 1612.01 993.932 1681.394 935.617 1745.048 882.117 1773.82 803.311 1816.442 731.915 1865.0729999999999 650.453 1948.647 581.638 1949.346 486.767 1950.065 389.15999999999997 1881.219 306.745 1820.136 230.61 1757.097 152.036 1685.7069999999999 79.11900000000003 1592.21 41.62199999999996 1493.117 1.8809999999999718 1379.198-24.70399999999995 1279.634 13.841999999999985 1181.976 51.64999999999998 1139.634 161.231 1073.511 242.43599999999998 1009.735 320.76 927.755 385.496 898.331 482.12 866.258 587.443 848.71 709.3530000000001 901.984 805.704 954.627 900.915 1072.8020000000001 932.3240000000001 1171.981 977.0450000000001 1257.995 1015.8299999999999 1345.956 1055.951 1440 1048.3029999999999' fill='%23184d6e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width:960px) { 
  body {
    overflow: scroll;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
label {
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

td,th {
  text-align: center;
  color: #fff;
}

.mb-3 {
  text-align: left;
}

table {
  color: #fff;
}

h1 {
  font-size: 30px;
}

