


.LoginButton {
  border: 3px solid #fff;
  max-width: 250px;
  box-shadow: 4px 5px 0#fff;
  padding: 10px;
  cursor: pointer;
}

.LoginButtonContainer {
  margin: 20px;
}

.LoginButtonText{
  font-weight: 600;
  color: #fff;
}

.srcollbar {
  overflow-y: scroll;
  height: 100vh;
}

.srcollbar::-webkit-scrollbar {
  display: none;
}